body {
    color: rgb(66, 116, 189);
    background:rgb(0, 0, 0) (136, 83, 180, 0.603);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgba(0, 0, 0, 0.411);
    padding: 20px;
    font-size: 32px;
    color: rgb(66, 116, 187);
}

section {
	background: rgb(145, 102, 189);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

