body {
    color: rgb(255, 255, 255);
    background:rgb(255, 255, 255);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgba(31, 87, 165,);
    padding: 20px;
    font-size: 32px;
    color: rgb(31, 87, 165);
}

section {
	background:wheat
	padding-bottom:100px;
	padding-top: 90px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

