body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(253, 253, 253);
    padding: 20px;
    font-size: 32px;
    color: rgb(223, 233, 247);
}

section {
	background: rgb(208, 197, 219);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

